@layer reset, base, components;

@import 'modern-normalize' layer(reset);

@layer base {
  :root {
    color-scheme: light dark;
    font-family: system-ui, sans-serif;
    line-height: 1.5;

    --spacing-normal: 1rem;
    --spacing-small: calc(var(--spacing-normal) * 0.75);
    --spacing-large: calc(var(--spacing-normal) * 1.25);

    --color-text: oklch(95% 0 0);
    --color-surface: oklch(30% 0.02 260);
    --color-accent: oklch(65% 0.2 260);
  }

  body {
    display: grid;
    min-block-size: 100dvb;
  }

  button {
    /* reset modern-normalize line-height */
    font: inherit;
    cursor: pointer;
  }

  main {
    inline-size: min(100%, 120ch);
    margin-inline: auto;
    padding: var(--spacing-normal);
    text-align: justify;
  }

  hr {
    margin-block: var(--spacing-normal);
  }

  img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  iframe {
    aspect-ratio: 16/9;
    block-size: 100%;
    inline-size: 100%;
  }

  p {
    margin-block-start: 0;
    text-box-trim: trim-both;

    &:last-child {
      margin-block-end: 0;
    }
  }

  figure {
    margin: 0;

    & > figcaption {
      margin-block-start: var(--spacing-small);
      font-style: italic;
      color: var(--color-text);
      text-align: center;
    }
  }

  details {
    /* hide marker */
    & > summary {
      cursor: pointer;
      list-style: none;

      &::-webkit-details-marker {
        display: none;
      }
    }
  }
}

@layer components {
  /* tab buttons and accordion summaries */
  .trigger {
    padding-block: var(--spacing-small);
    padding-inline: var(--spacing-large);
    font-weight: 500;
    text-box-trim: trim-both;
    background: var(--color-surface);
    color: contrast-color(var(--color-surface));
    border: 1px solid transparent;

    /* active tab/details */
    &:where([aria-selected='true']),
    :where(details[open]) > & {
      background: var(--color-text);
      color: contrast-color(var(--color-text));
    }

    &:where(:hover, :focus-visible) {
      background: var(--color-accent);
      color: contrast-color(var(--color-accent));
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    &:focus-visible {
      outline: 2px solid contrast-color(var(--color-surface));
      outline-offset: 4px;
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-normal);

    & .content {
      padding-block: var(--spacing-normal);
      padding-inline: var(--spacing-large);
      border: 1px solid currentColor;
      border-block-start: none;
    }
  }

  .tabs {
    & > .tablist {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: var(--spacing-normal);
    }

    & > .tabpanels {
      padding-block: var(--spacing-normal);
      padding-inline: var(--spacing-large);
      border: 1px solid currentColor;
    }
  }
}
